#Python Specific
venv/
maskr_venv/
*-checkpoint.ipynb

**/__pycache__/
**/*.egg-info
.DS_STORE

#PyCharm Specific
.idea/

#Raw Source Data
raw_source_data/**

#Temp Data
temp_data/tier1*
temp_data/tier2*
temp_data/sample*
temp_data/test*
temp_data/**/*.csv
temp_data/**/*.pth
